<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Product_Name</servlet-name>
    <servlet-class>One.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_Name</servlet-name>
    <url-pattern>/App1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Product_Name2</servlet-name>
    <servlet-class>One.Product2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_Name2</servlet-name>
    <url-pattern>/App2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Product_Name3</servlet-name>
  	<servlet-class>One.Product3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Product_Name3</servlet-name>
  	<url-pattern>/App3</url-pattern>
  </servlet-mapping>
</web-app>